/* This file is for reusuable css classes */

:root{
  --loginBtnBg: linear-gradient(#051b71, #0080ff);
  --abs: absolute;
  --dark0: #000000;
  --slow: .5s ease;
}

.maxElementWidth{
  max-width: 1400px;
}

.middle{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition{transition: var(--slow)}

.resetInputStyle, .resetInputStyle:focus{
  outline: none;
  box-shadow: none;
}

.cPointer{cursor: pointer}

.menu{margin-left: auto}

.whitePlaceholder::placeholder{color: #e4e9a0}

.noShadowBtn:focus{box-shadow: none!important}

.dashedBtn{
  font-size: 24px;
  color: #495057;
  border: 2px dashed #6c757d;
}