.nav-menu {
  background-color: #060b26f8;
  width:250px;
  height: 100vh;
  top: 0;
  left: -250px;
  z-index: 2;
}

.sidebartoggler{
  background-color: #060b26f8;
  right: -25px;
  top: 150px;
}

.nav-menu.opened {
  left: 0;
}

.nav-text a:hover {
  background-color: #1a83ff;
}